.fullDiv{
    margin: 10px auto !important;
    width: 100% !important;
    display: flex;
    align-items:center ;
}
.div1,.div2,.div3{
    width: 30% !important;
   
}
.div2{
    margin-top: 1px !important;
}
.div2,h1{
    font-size: 20px;
}

.div1,.div3{
 height: 80%;
    border: 2px solid black !important;
    margin: 5px !important; 
     /* margin-left: 10px !important; */
    margin-left: 20px !important;
    opacity: 0.5;
    transition: 3s;
    margin-top: 50px !important;
    color: rgb(0, 0, 0);
    
}

.div2{
    border: 2px solid black !important;
    height: 100% ;
    margin-left: 10px !important;
    opacity: 1;
    width: 30%;
    text-align: center;
}
.div1:hover{
    /* color: red !important; */
    opacity: 2 !important;
}
.div3:hover{
    /* color: red !important; */
    opacity: 2 !important;
}

.imgdiv{
    width: 100% !important;
    height: 50% !important;
}
.img1,.img2,.img3{
    width: 100% !important;
}

@media only screen and (max-width: 600px) {
    .div2{
        display: none;
    }
    .div1,.div3{
        width: 47% !important;
        height: 100%;
        opacity: 1;
    }
  }
  @media only screen and (max-width: 500px) {
    .div1{
        display: none;
    }
    .div3{
        height: 100%;
        opacity: 1;
        margin-top: 30px !important;
        margin: 10px auto !important;
        width: 80% !important;
    }
  }